/* Estilos inicio.php*/

*{
		margin:0;
		padding:0;
	}
	
	
	
.imagensuperior{
	width: 100%;
	height: 200px;
	background-image: url('../imagen/interfaz.jpg');
	background-repeat: no repeat;
	background-image: #000000;
	background-size: cover;
	opacity: 0.6;
	}
	
	.navegar{
		width: 800px;
		margin: 30px auto;
		background: #3FCF73;
		border-radius: 62px 62px 68px 64px;
		text-align: center;
		font-size: large;
		
	}
	
	.navegar ul{
		list-style: none;
			}
		
	.lista >li{
		position: center;
		display: inline-block;
	}
	.lista li a{
		display: block;
		padding: 15px 20px;
		color: #fff;
		font-family: 'Bahnschrift SemiBold';
		text-decoration: none;
		margin: 1em 0;
		font-size:150%;
		text-align: center;
		text-shadow: 1px 2px #999;
	}
	
	
.container{
  width: 100%;
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: right;
  align-items: center;   
}
 
.login-container{
  display: flex;
  width: 650px;
  height: auto;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  position:absolute;
  top: 80%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: large;

}
 
.register, .login{
  flex: 1;
}
 
.register, .login{
  padding: 40px;
}
 
.register h2{
  color: #797979;
  margin-bottom: 30px;
}
 
.register input{
  width: 100%;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 25px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid #a8a8a8;
  color: #333;
}


.register input:active,
.register input:focus{
  outline: none;
}
 
.register .submit{
  width: auto;
  padding: 10px;
  background: #f17108;
  color: #fff;
  font-size: 12px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
  cursor: pointer;
}
 
.register::after{
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  right: -23px;
  padding: 10px;
  text-align: center;
  font-size: 19px;
  background: #f1f1f1;
  border-radius: 50%;
  transform: translateY(-50%);
  box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, .2);
  color: #7c7c7c;
}
 
.login{
  background-image: linear-gradient(to bottom right, #3FCF73, #4cac6e);
  padding: 40px;
}
 
.login h2{
  color: #fff;
  margin-bottom: 45px;
}
 .login .submit{
  width: auto;
  padding: 10px;
  background: #f17108;
  color: #fff;
  font-size: 12px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
  cursor: pointer;
 }
 
  
.login input{
  width: 100%;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 25px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid #fff;
  : #fff;

  
.login input:active,
.login input:focus{
  outline: none;
}
 
@media only screen and (max-width: 540px){
  .login-container{
    display: block;
  }
 
  .register, .login{
    flex: none;
  }
 
  .register::after{
    top: unset;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
  }
}



	